extends ../_includes/_layout
block vars
  - var _title_str = '株式会社'; // タイトルタグ
  - var _desc_str = 'でぃすくりぷしょん'; // descriptions
  - var _keys_str = 'きーわーど'; // keywords
  - var _page_category = 'top'; // ページのカテゴリー
  - var _page_id = _page_category + '-page'; // ページカテゴリーの後ろに付与してIDとして使う
  - var DIR_IMG_PAGE = "/img/" + _page_category + "/"; // イメージへのリンク
  //- var DIR_CSS = "/css/"; // cssのリンク
  //- var DIR_JS = "/js/"; // jsのリンク
  - var _page_name = ''; // ページ名

block link
  link(rel='stylesheet', href=DIR_CSS + _page_category + ".css")
block body
  //- #app
  section
    h1 works


block script
  //- ページ固有のjs
  script(src="/main.ts" type="module")
